Options +FollowSymLinks
RewriteEngine On

# Remember to deny all access to /inc/
RewriteRule ^\/inc\/.*$ /openverse-php/errors/404.php [L]
RewriteRule ^\/$ /openverse-php/community-list.php [L]
RewriteRule ^\/account\/login$ /openverse-php/login.php [L]
RewriteRule ^\/account\/logout$ /openverse-php/logout.php [L]
RewriteRule ^\/account\/signup$ /openverse-php/signup.php [L]
RewriteRule ^\/account\/forgot$ /openverse-php/forgot_password.php [L]
RewriteRule ^\/users\/@me$ /openverse-php/me.php [L]
RewriteRule ^\/users\/([^\/]+)$ /openverse-php/user_profile.php?id=$1 [L]
RewriteRule ^\/users\/([^\/]+)\/posts$ /openverse-php/user_posts.php?id=$1 [L]
RewriteRule ^\/users\/([^\/]+)\/empathies$ /openverse-php/user_empathies.php?id=$1 [L]
RewriteRule ^\/users\/([^\/]+)\/friends$ /openverse-php/user_friends.php?id=$1 [L]
RewriteRule ^\/users\/([^\/]+)\/followers$ /openverse-php/user_followers.php?id=$1 [L]
RewriteRule ^\/users\/([^\/]+)\/following$ /openverse-php/user_following.php?id=$1 [L]
RewriteRule ^\/users\/([^\/]+)\/follow$ /openverse-php/follow.php?id=$1 [L]
RewriteRule ^\/users\/([^\/]+)\/unfollow$ /openverse-php/unfollow.php?id=$1 [L]
RewriteRule ^\/users\/([^\/]+)\/friend$ /openverse-php/friend_request.php?id=$1 [L]
RewriteRule ^\/users\/([^\/]+)\/unfriend$ /openverse-php/remove_friend.php?id=$1 [L]
RewriteRule ^\/users\/([^\/]+)\/favorites$ /openverse-php/user_favorites.php?id=$1 [L]
RewriteRule ^\/users$ /openverse-php/user_search.php [L]
RewriteRule ^\/identified_user_posts$ /openverse-php/identified_user_posts.php [L]
RewriteRule ^\/check_update.json(.*)?$ /openverse-php/check_update.php [L]
RewriteRule ^\/activity$ /openverse-php/activity.php [L]
RewriteRule ^\/news\/my_news$ /openverse-php/notifications.php [L]
RewriteRule ^\/news\/friend_requests$ /openverse-php/friendrequests.php [L]
RewriteRule ^\/messages$ /openverse-php/messages.php [L]
RewriteRule ^\/messages\/([^\/]+)$ /openverse-php/conversation.php?id=$1 [L]
RewriteRule ^\/communities\/favorites$ /openverse-php/favorites.php [L]
RewriteRule ^\/titles\/search$ /openverse-php/title_search.php [L]
RewriteRule ^\/titles\/([0-9]+)$ /openverse-php/titles.php?id=$1 [L]
RewriteRule ^\/titles\/([0-9]+)\/([0-9]+)$ /openverse-php/communities.php?id=$2 [L]
RewriteRule ^\/titles\/([0-9]+)\/([0-9]+)\/favorite$ /openverse-php/favorite.php?id=$2 [L]
RewriteRule ^\/titles\/([0-9]+)\/([0-9]+)\/unfavorite$ /openverse-php/unfavorite.php?id=$2 [L]
RewriteRule ^\/titles\/([0-9]+)\/([0-9]+)\/hot$ /openverse-php/popular_posts.php?id=$2 [L]
RewriteRule ^\/titles\/([0-9]+)\/([0-9]+)\/hot\/(.+)$ /openverse-php/popular_posts.php?id=$2&date=$3 [L]
RewriteRule ^\/posts\/([0-9]+)\/empathies$ /openverse-php/yeah_post.php?id=$1 [L]
RewriteRule ^\/posts\/([0-9]+)\/empathies.delete$ /openverse-php/delete_post_yeah.php?id=$1 [L]
RewriteRule ^\/posts\/([0-9]+)\/delete$ /openverse-php/delete_post.php?id=$1 [L]
RewriteRule ^\/posts\/([0-9]+)\/remove$ /openverse-php/remove_post.php?id=$1 [L]
RewriteRule ^\/posts\/([0-9]+)\/edit$ /openverse-php/edit_post.php?id=$1 [L]
RewriteRule ^\/posts\/([0-9]+)\/violations$ /openverse-php/report_post.php?id=$1 [L]
RewriteRule ^\/posts\/([0-9]+)\/favorite_screenshot$ /openverse-php/favorite_post_screenshot.php?id=$1 [L]
RewriteRule ^\/posts\/([0-9]+)$ /openverse-php/posts.php?id=$1 [L]
RewriteRule ^\/posts\/([0-9]+)\/replies$ /openverse-php/reply.php?id=$1 [L]
RewriteRule ^\/posts$ /openverse-php/post.php [L]
RewriteRule ^\/replies\/([0-9]+)\/empathies$ /openverse-php/yeah_reply.php?id=$1 [L]
RewriteRule ^\/replies\/([0-9]+)\/empathies\.delete$ /openverse-php/delete_reply_yeah.php?id=$1 [L]
RewriteRule ^\/replies\/([0-9]+)\/delete$ /openverse-php/delete_reply.php?id=$1 [L]
RewriteRule ^\/replies\/([0-9]+)\/remove$ /openverse-php/remove_reply.php?id=$1 [L]
RewriteRule ^\/replies\/([0-9]+)\/violations$ /openverse-php/report_reply.php?id=$1 [L]
RewriteRule ^\/replies\/([0-9]+)$ /openverse-php/replies.php?id=$1 [L]
RewriteRule ^\/chat\/([0-9]+)$ /openverse-php/chat.php?id=$1 [L]
RewriteRule ^\/guide\/$ /openverse-php/guide/rules.php [L]
RewriteRule ^\/guide\/legal$ /openverse-php/guide/legal.php [L]
RewriteRule ^\/guide\/faq$ /openverse-php/guide/faq.php [L]
RewriteRule ^\/guide\/terms$ /openverse-php/guide/terms.php [L]
RewriteRule ^\/settings\/profile$ /openverse-php/profile_settings.php [L]
RewriteRule ^\/settings\/account$ /openverse-php/account_settings.php [L]
RewriteRule ^\/admin$ /openverse-php/admin.php [L]
RewriteRule ^\/session\/([^\/]+)$ /openverse-php/admin/session.php?id=$1 [L]
RewriteRule ^\/debug.*$ /openverse-php/admin/tests.php [L]

ErrorDocument 404 /openverse-php/errors/404.php
ErrorDocument 403 /openverse-php/errors/403.php
ErrorDocument 500 /openverse-php/errors/500.php
ErrorDocument 503 /openverse-php/errors/503.php
